Babel
Flask
Flask-Cors
GitPython
Jinja2
Markdown
MarkupSafe
MouseInfo
PyAutoGUI
PyGetWindow
PyMsgBox
PyRect
PyScreeze
PyYAML
Pygments
QtPy
Send2Trash
Werkzeug
absl-py
accelerate
altair
annotated-types
anyio
apiclient
apify_client
apify_shared
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cvzone
cycler
debugpy
decorator
defusedxml
emoji
executing
fastapi
fastjsonschema
filelock
flatbuffers
folium
fonttools
fqdn
fsspec
gast
gitdb
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
keyboard
kiwisolver
lab
libclang
markdown-it-py
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
more-itertools
mpmath
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
prometheus_client
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydeck
pygame
pynput
pyparsing
pyperclip
python-dateutil
python-dotenv
python-json-logger
pytweening
pytz
pywinpty
pyzmq
qtconsole
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
setuptools
simplejson
six
smmap
sniffio
sounddevice
soupsieve
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
textblob
threadpoolctl
tinycss2
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
txt2tags
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
vaderSentiment
watchdog
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
wrapt
xyzservices
