absl-py
accelerate
altair
annotated-types
anyio
apiclient
apify_client
apify_shared
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cvzone
cycler
debugpy
decorator
defusedxml
emoji
executing
fastapi
fastjsonschema
filelock
Flask
Flask-Cors
flatbuffers
folium
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
keyboard
kiwisolver
lab
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
more-itertools
MouseInfo
mpmath
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
prometheus_client
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
pydantic
pydantic_core
pydeck
pygame
PyGetWindow
Pygments
PyMsgBox
pynput
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
python-json-logger
pytweening
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
setuptools
simplejson
six
smmap
sniffio
sounddevice
soupsieve
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
textblob
threadpoolctl
tinycss2
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
txt2tags
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
vaderSentiment
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
xyzservices
